*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo negro semitransparente */
  z-index: 1000;
  padding: 10px 0;
  transition: background-color 0.3s ease;
}

nav.navbar .nav-link,
nav.navbar .navbar-brand,
nav.navbar .btn {
  color: white !important; /* Ítems blancos */
}

.botonCar{
  color: white;
  border: solid white;
}
.botonCar:hover{
  background-color: gray;
  border: solid 1px white;
}
.descprop{
  margin-bottom: 5%;
}
.btncontac{
  margin-top: 5%;
}

.navbar {
  padding-bottom: 0; /* Ajustamos padding si hay espacio extra */
}

#navbarMenuMobile {
  margin-top: 0; /* Ya aparece debajo del nav, podemos ajustar si hay espacio de más */
}
.whatsapp-button {
  position: fixed; /* Hace que el botón se quede fijo */
  bottom: 20px; /* Distancia desde el fondo de la página */
  right: 20px; /* Distancia desde el lado derecho de la página */
  z-index: 999; /* Asegura que el botón esté encima de otros elementos */
  background-color: transparent; /* Sin fondo */
  border: none; /* Sin borde */
  padding: 10px;
}

.whatsapp-icon {
  width: 150px;
  color: #25D366; /* Color verde de WhatsApp */
  transition: transform 0.3s ease; 
}

.whatsapp-icon:hover {
  transform: scale(1.1); /* Agrandar el ícono cuando se pasa el ratón */
}
.imgIndex {
  filter: brightness(60%);
}
a{
  color: white;
  text-decoration: none;
}


.card-cover h3 {
  filter: brightness(120%); /* Restaura el brillo del texto */
  color: #ffffff; /* Asegura que el texto sea blanco */
  position: relative; /* Asegura que el filtro solo afecte el texto */
  z-index: 2;
}
.hero-section {
  background-image: url('./images/Imagen\ de\ WhatsApp\ 2024-07-24\ a\ las\ 12.18.22_54a2f2ba\ \(1\).jpg'); /* Cambiá la ruta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Que ocupe toda la altura de la pantalla */
  width: 100%;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Sombra oscura encima de la imagen */
}

.hero-section .container {
  position: relative;
  z-index: 1;
}
.hero-sectioncasblcom{
  background-image: url('./images/section9.jpg'); /* Cambiá la ruta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Que ocupe toda la altura de la pantalla */
  width: 100%;
  position: relative;
}
.hero-sectioncasblcom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Sombra oscura encima de la imagen */
}

.hero-sectioncasblcom .container {
  position: relative;
  z-index: 1;
}
.hero-sectionlocales{
  background-image: url('.//images/locales/renderlocales4.jpg'); /* Cambiá la ruta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Que ocupe toda la altura de la pantalla */
  width: 100%;
  position: relative;
}
.hero-sectionlocales::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Sombra oscura encima de la imagen */
}

.hero-sectionlocales .container {
  position: relative;
  z-index: 1;
}
.hero-sectionhoffman{
  background-image: url('.//images/hofman/hoffman17.jpg'); /* Cambiá la ruta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Que ocupe toda la altura de la pantalla */
  width: 100%;
  position: relative;
}
.hero-sectionhoffman::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Sombra oscura encima de la imagen */
}

.hero-sectionhoffman .container {
  position: relative;
  z-index: 1;
}
.hero-sectionsakura{
  background-image: url('.//images/casa\ sakura/rendergonzalo.jpg'); /* Cambiá la ruta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Que ocupe toda la altura de la pantalla */
  width: 100%;
  position: relative;
}
.hero-sectionsakura::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Sombra oscura encima de la imagen */
}

.hero-sectionsakura .container {
  position: relative;
  z-index: 1;
}

.banner {
  width: 100%;
  max-height: 1000px; /* Ajusta la altura según necesites */
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Sombra oscura encima de la imagen */
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.banner-text h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.banner-text p {
  font-size: 1.2rem;
  margin-top: 5px;
}

.bodyContact{
  /* Fondo con imagen y gradiente para el difuminado */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), 
              url(./images/FONDO.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.inputNombre{
  width: 50%;
  margin-left: 50.5%;
}
.labelNombre{
  margin-left: 51%;
}
.labelApellido{
  margin-left: 5%;
}
.inputApellido{
  width: 50%;
  margin-left: -1%;
}
.inputsContact{
  width: 50%;
  margin-left: 25%;
}
.labels{
  margin-left: 25%;
}
.TituloContac{
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 10%;
  
}
.botonContactoContac{
  margin-left: 37%;
  margin-top: 3%;
  margin-bottom: 10%;
 
  
  color: white;
  border-radius: 80px;
  width: 25%;
  height: auto;
}
@media screen and (max-width: 768px) {
.titcarousel{
    font-size: large;
  }
  nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0); /* Fondo negro semitransparente */
    z-index: 1000;
    padding: 10px 0;
    
  }
  
  nav.navbar .nav-link,
  nav.navbar .navbar-brand,
  nav.navbar .btn {
    color: white !important; /* Ítems blancos */
  }
  .botonCar{
    color: white;
    border: solid white;
    font-size: medium;
  }
  .btncontac{
    margin-bottom: 10%;
  }
  .whatsapp-icon {
    width: 100px;
    color: #25D366; /* Color verde de WhatsApp */
    transition: transform 0.3s ease; 
  }
 
  .btnmenu{
    color: white;
  }
  .logo{
    width: 50PX;
    height: 50px;
  }
  .inputNombre{
    margin-left: 25%;
  }
  .labelNombre{
    margin-left: 25%;
  }
  .labelApellido{
    margin-left: 25%;
  }
.inputApellido{
  margin-left: 25%;
}
.TituloContac{
  width: 80%;
  font-size: x-large;
  margin-left: 15%;
}
}